/****************************/
/*   Image Gloss Effect     */
/****************************/
.gloss {
  opacity: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  will-change: opacity;

  .gloss--shine {
    transition: 600ms opacity ease-out;
  }
  .gloss--background {
	-webkit-box-shadow: 0px 0px 3px 5px #fff;
	-moz-box-shadow: 0px 0px 3px 5px #fff;
	box-shadow: 0px 0px 3px 5px #fff;
	filter: progid:DXImageTransform.Microsoft.Glow(color='white', Strength='7');
  }
}
